# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe

# eclipse
.metadata

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
*.tlog
*.lastbuildstate
*.unsec
*.pdb
*.ilk
*.suo
*.log
*.sdf
*.opensdf

# Vi editor
*.swp
