<RobotFoot>
  <ImageProcessing>
    <Camera>
      <DeviceIndex>0</DeviceIndex>
    </Camera>
    <Colors>
      <Color name="red">
        <HSV>
          <hue>215</hue>
          <hueTolerance>40</hueTolerance>
          <saturation>163</saturation>
          <brightness>103</brightness>
        </HSV>
        <Circle>
          <erosionIterations>0</erosionIterations>
          <dilationIterations>2</dilationIterations>
          <smoothingApertureSize>9</smoothingApertureSize>
          <resolutionDivisor>2</resolutionDivisor>
          <minDistance>120</minDistance>
          <edgeThreshold>100</edgeThreshold>
          <centerThreshold>10</centerThreshold>
          <minRadius>10</minRadius>
          <maxRadius>400</maxRadius>
        </Circle>
      </Color>
    </Colors>
  </ImageProcessing>
</RobotFoot>