<RobotFoot>
  <ImageProcessing>
    <Camera>
      <DeviceIndex value="0" />
    </Camera>
    <Colors>
      <Color name="red">
        <HSVcolor>
          <Hue value="215" />
          <HueTolerance value="40" />
          <Saturation value="163" />
          <Brightness value="103" />
        </HSVcolor>
        <CircleSpec>
          <ErosionIterations value="0" />
          <DilationIterations value="2" />
          <SmoothingApertureSize value="9" />
          <ResolutionDivisor value="2" />
          <MinDistance value="120" />
          <EdgeThreshold value="100" />
          <CenterThreshold value="10" />
          <MinRadius value="10" />
          <MaxRadius value="400" />
        </CircleSpec>
      </Color>
    </Colors>
  </ImageProcessing>
  <Motion>
    <Motors>
      <Head>
        <!--crap-->
        <Pan value="2" />
        <Tilt value="3" />

        <MinH value="200" />
        <MaxH value="800" />
        <MinV value="350" />
        <MaxV value="800" />

        <HorizontalOffset value="-15" />
        <VerticalOffset value="-15" />

        <AngleH value="115" />
        <AngleV value="140" />
      
        <Threshold value="80" />
        
        <PID>
          <!--caca-->
          <P value="0.1" />
          <I value="0" />
          <D value="0" />
          <dt value="0.1" />
          <Epsilon value="0" />
        </PID>
      </Head>
    </Motors>
  </Motion>
</RobotFoot>