<RobotFoot>
  <Logging>
    <LogLvl value="DEBUG" /> <!-- DEBUG, INFO, WARN, ERROR, SHUTUP -->
  </Logging>
  <Sizes>
  	<RobotHeight value="40" />
  	<XOffset value="2.5" />
  </Sizes>
  <ImageProcessing value="0">
    <Camera>
      <DeviceIndex value="0" />
    </Camera>
    <Colors>
      <BallColor value="red" />
      <GoalColor value="pink" />
	  <Color name="red">
		<HSVcolor>
		  <Hue value="215" />
		  <HueTolerance value="40" />
		  <Saturation value="163" />
		  <Brightness value="103" />
		</HSVcolor>
		<CircleSpec>
		  <ErosionIterations value="0" />
		  <DilationIterations value="2" />
		  <SmoothingApertureSize value="9" />
		  <ResolutionDivisor value="2" />
		  <MinDistance value="120" />
		  <EdgeThreshold value="15" />
		  <CenterThreshold value="10" />
		  <MinRadius value="10" />
		  <MaxRadius value="400" />
		</CircleSpec>
	  </Color>
	  <Color name="pink">
		<HSVcolor>
		  <Hue value="160" />
		  <HueTolerance value="10" />
		  <Saturation value="0" />
		  <Brightness value="255" />
		</HSVcolor>
		<CircleSpec>
		  <ErosionIterations value="1" />
		  <DilationIterations value="4" />
		  <SmoothingApertureSize value="9" />
		  <ResolutionDivisor value="2" />
		  <MinDistance value="120" />
		  <EdgeThreshold value="100" />
		  <CenterThreshold value="10" />
		  <MinRadius value="10" />
		  <MaxRadius value="400" />
		</CircleSpec>
	  </Color>
	  <Color name="green">
		<HSVcolor>
		  <Hue value="65" />
		  <HueTolerance value="9" />
		  <Saturation value="172" />
		  <Brightness value="71" />
		</HSVcolor>
		<CircleSpec>
		  <ErosionIterations value="4" />
		  <DilationIterations value="10" />
		  <SmoothingApertureSize value="9" />
		  <ResolutionDivisor value="2" />
		  <MinDistance value="120" />
		  <EdgeThreshold value="100" />
		  <CenterThreshold value="10" />
		  <MinRadius value="10" />
		  <MaxRadius value="400" />
		</CircleSpec>
	  </Color>
    </Colors>
  </ImageProcessing>
  <USB_Interface>
    <TTY value="/dev/ttyACM0" />
  </USB_Interface>
  <Motion value="1">
  	<ActivateMotor value="1"/>
    <IterationTimeMs value="20"/>
    <PerformInitPosition value="0"/>
    <KP value="440"/>
    <KD value="8000"/>
    <KI value="0"/>
    <Motors>
      <Head>
        <HEAD_PAN>
          <MotorID value="13"/>
          <Offset value="513"/>
          <LimitMin value="243"/>
          <LimitMax value="793"/>
          <PlayTime value="70"/>
          <IsInversed value="0"/>
        </HEAD_PAN>
        <HEAD_TILT>
          <MotorID value="14"/>
          <Offset value="511"/>
          <LimitMin value="239"/>
          <LimitMax value="500"/>
          <PlayTime value="70"/>
          <IsInversed value="0"/>
        </HEAD_TILT>
        <!--DEPRECATED-->
        <Pan value="13" />
        <Tilt value="14" />

        <MinH value="200" />
        <MaxH value="800" />
        <MinV value="350" />
        <MaxV value="800" />

        <HorizontalOffset value="-15" />
        <VerticalOffset value="-15" />

        <AngleH value="115" />
        <AngleV value="115" />
        <Threshold value="20" />
        <NoObjectMaxCount value="15" />
        <ScanningError value="300" />
        
        <PID>
          <P value="0.130909093" />
          <I value="0.009818182" />
          <D value="0.006545455" />
          <dt value="0.2" />
          
          <Epsilon value="0" />
        </PID>
      </Head>
      <Legs>
	  <DISTANCETHRESHOLD value = "0.002"/>
	  <ANGLETHRESHOLD value = "0.02"/>
	  <ITERATIONMAX value = "5"/>
	<StepTime value = "1.0" />
	<UseCOM value = "0" />
	  <COMPENSATION_OFFSET>
	  		<PermanentPelvisPitch value = "0"/>
			<RightPelvis>
				<Pitch value = "0" />
				<Roll value = "-0.2" />
				<Yaw value = "0.0" />
				<x value = "-0.02" />
				<y value = "0.02" />
				<z value = "0" />
			</RightPelvis>
			<LeftPelvis>
				<Pitch value = "0" />
				<Roll value = "0.28" />
				<Yaw value = "0.0" />
				<x value = "0.02" />
				<y value = "0.02" />
				<z value = "0" />
			</LeftPelvis>
			<RightFoot>
				<Pitch value = "0.0" />
				<Roll value = "-0.02" />
				<Yaw value = "0" />
				<x value = "0.01" />
				<y value = "0" />
				<z value = "0" />
			</RightFoot>
			<LeftFoot>
				<Pitch value = "0.0" />
				<Roll value = "0.02" />
				<Yaw value = "0.0" />
				<x value = "-0.01" />
				<y value = "0" />
				<z value = "0" />
			</LeftFoot>
	  </COMPENSATION_OFFSET>
	  <StepHeight value = "0.04"/>
	  <StepLength value = "0.04"/>
	    <R_HIP_YAW>
		  <MotorID value="1"/>
		  <Offset value="547"/>
		  <LimitMin value="473"/>
		  <LimitMax value="592"/>
          <PlayTime value="0"/>
          <IsInversed value="1"/>
	    </R_HIP_YAW>
	    <L_HIP_YAW>
		  <MotorID value="2"/>
		  <Offset value="518"/>
		  <LimitMin value="469"/>
		  <LimitMax value="582"/>
          <PlayTime value="0"/>
          <IsInversed value="1"/>
	    </L_HIP_YAW>
	    <R_HIP_ROLL>
		  <MotorID value="3"/>
		  <Offset value="615"/>
		  <LimitMin value="324"/>
		  <LimitMax value="680"/>
          <PlayTime value="0"/>
          <IsInversed value="0"/>
	    </R_HIP_ROLL>
	    <L_HIP_ROLL>
		  <MotorID value="4"/>
		  <Offset value="511"/>
		  <LimitMin value="445"/>
		  <LimitMax value="792"/>
          <PlayTime value="0"/>
          <IsInversed value="1"/>
	    </L_HIP_ROLL>
	    <R_HIP_PITCH>
		  <MotorID value="253"/>
		  <Offset value="516"/>
		  <LimitMin value="141"/>
		  <LimitMax value="579"/>
          <PlayTime value="0"/>
          <IsInversed value="1"/>
	    </R_HIP_PITCH>
	    <L_HIP_PITCH>
		  <MotorID value="6"/>
		  <Offset value="524"/>
		  <LimitMin value="99"/>
		  <LimitMax value="600"/>
          <PlayTime value="0"/>
          <IsInversed value="0"/>
	    </L_HIP_PITCH>
	    <R_KNEE>
		  <MotorID value="7"/>
		  <Offset value="494"/>
		  <LimitMin value="494"/>
		  <LimitMax value="887"/>
          <PlayTime value="0"/>
          <IsInversed value="1"/>
	    </R_KNEE>
	    <L_KNEE>
		  <MotorID value="8"/>
		  <Offset value="560"/>
		  <LimitMin value="560"/>
		  <LimitMax value="918"/>
          <PlayTime value="0"/>
          <IsInversed value="0"/>
	    </L_KNEE>
	      <R_ANKLE_PITCH>
		  <MotorID value="9"/>
		  <Offset value="373"/>
		  <LimitMin value="203"/>
		  <LimitMax value="671"/>
          <PlayTime value="0"/>
          <IsInversed value="0"/>
	    </R_ANKLE_PITCH>
	    <L_ANKLE_PITCH>
		  <MotorID value="10"/>
		  <Offset value="509"/>
		  <LimitMin value="342"/>
		  <LimitMax value="812"/>
          <PlayTime value="0"/>
          <IsInversed value="1"/>
	    </L_ANKLE_PITCH>
	    <R_ANKLE_ROLL>
		  <MotorID value="11"/>
		  <Offset value="414"/>
		  <LimitMin value="186"/>
		  <LimitMax value="826"/>
          <PlayTime value="0"/>
          <IsInversed value="1"/>
	    </R_ANKLE_ROLL>
	    <L_ANKLE_ROLL>
		  <MotorID value="12"/>
		  <Offset value="522"/>
		  <LimitMin value="242"/>
		  <LimitMax value="855"/>
          <PlayTime value="0"/>
          <IsInversed value="0"/>
	    </L_ANKLE_ROLL>
      </Legs>
    </Motors>
    <Configurations>
      <ALL_MOTORS>
        <Motor_1  value="R_HIP_YAW"/>
        <Motor_2  value="R_HIP_ROLL"/>
        <Motor_3  value="R_HIP_PITCH"/>
        <Motor_4  value="R_KNEE"/>
        <Motor_5  value="R_ANKLE_PITCH"/>
        <Motor_6  value="R_ANKLE_ROLL"/>
        <Motor_7  value="L_HIP_YAW"/>
        <Motor_8  value="L_HIP_ROLL"/>       
        <Motor_9  value="L_HIP_PITCH"/>       
        <Motor_10 value="L_KNEE"/>       
        <Motor_11 value="L_ANKLE_PITCH"/>       
        <Motor_12 value="L_ANKLE_ROLL"/>
        <Motor_13 value="HEAD_PAN"/>
        <Motor_14 value="HEAD_TILT"/>       
      </ALL_MOTORS>
      <ALL_LEGS>
        <Motor_1  value="R_HIP_YAW"/>
        <Motor_2  value="R_HIP_ROLL"/>
        <Motor_3  value="R_HIP_PITCH"/>
        <Motor_4  value="R_KNEE"/>
        <Motor_5  value="R_ANKLE_PITCH"/>
        <Motor_6  value="R_ANKLE_ROLL"/>
        <Motor_7  value="L_HIP_YAW"/>
        <Motor_8  value="L_HIP_ROLL"/>       
        <Motor_9  value="L_HIP_PITCH"/>       
        <Motor_10 value="L_KNEE"/>       
        <Motor_11 value="L_ANKLE_PITCH"/>       
        <Motor_12 value="L_ANKLE_ROLL"/>       
      </ALL_LEGS>
      <RIGHT_LEG>
        <Motor_1  value="R_HIP_YAW"/>
        <Motor_2  value="R_HIP_ROLL"/>
        <Motor_3  value="R_HIP_PITCH"/>
        <Motor_4  value="R_KNEE"/>
        <Motor_5  value="R_ANKLE_PITCH"/>
        <Motor_6  value="R_ANKLE_ROLL"/>
      </RIGHT_LEG>
      <LEFT_LEG>
        <Motor_1  value="L_HIP_YAW"/>
        <Motor_2  value="L_HIP_ROLL"/>       
        <Motor_3  value="L_HIP_PITCH"/>       
        <Motor_4 value="L_KNEE"/>       
        <Motor_5 value="L_ANKLE_PITCH"/>       
        <Motor_6 value="L_ANKLE_ROLL"/>       
      </LEFT_LEG>
      <HEAD>
        <Motor_1 value="HEAD_PAN"/>
        <Motor_2 value="HEAD_TILT"/>       
      </HEAD>
    </Configurations>
  </Motion>
</RobotFoot>
